
			<% provide(:title,'About Us') %>
			
			
		<p>		
			<h1>About Us</h1>
      This is the about page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      help with
      <a href="http://rubyonrails.org/"> Rails</a>. This
			sample application.
	  </p>
   
