<% provide(:title,'Contact') %>
    <h1>Contact</h1>
    <p>
      This is the contact page for 
      <a href="http://railstutorial.org/contact">contact</a>
      about sample application.
    </p>

