<% provide(:title,'Help') %>

    <h1>Help</h1>
    <p>
      This is the help page for the
      <a href="http://railstutorial.org/help"> Rails Tutorial help page</a>
      To get help on this sample app, see the
	  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
    </p>
