<%= form_for(current_user.relationships.find_by(followed_id: @user.id),
																							remote: true,
																							html: {method: :delete}) do |f| %>
	<%= f.submit "Unfollow", class: "btn btn-large" %>
<% end %>
