<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user)  do |f|  %>
			<%= render 'fields', f: f  %>
			
			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
		
		<%= gravatar_for @user %>
		<%= link_to 'change', "http://gravatar.com/emails", target: '_blank' %>
	</div>
</div>
