


<%= provide(:title, 'All users') %>
<h1>users</h1>

<div class="row">
	<%= form_tag(users_path, method: 'get') do %>
		<div class="span3 offset2">	
			<%= text_field_tag :search, params[:search] %>
		</div>
		<div class="offset5">
			<%= submit_tag "Search", class: "btn btn-primary", name: nil %>
		</div>				
	<% end %>
</div>

<div id="paginate_users">
	<%= render 'paginate_users' %>
</div>



<!--
need to add partial '_paginate_users' as in viseo 174 -->
