<% if @feed_items.any? %>
	<ol class="microposts", id="feed">
		<%= render partial: 'shared/feed_item', collection: @feed_items %>
	</ol>
	<%= will_paginate @feed_items %>
	
<% else %>
	<ol id="feed" class="microposts">
	</ol>
<% end %>
