	<section id="lettersLeft"></section>

	<script>
		function count(t,a) {
    var x = document.getElementById(a).value.length;
    var maxLetters = 140;
    var left = maxLetters -x ;
    if(left > 0)
    {
			document.getElementById(t).innerHTML = "leters left: "+ left;
		}
    else{
					document.getElementById(t).innerHTML = "letters left: "+ 0 + ".";
					document.getElementById(a).value = document.getElementById(a).value.substr(0, maxLetters - 1);
				}
    }
    
    
	//~ $("#micropost_content").keyup(function(){
															//~ var length = $(this).val().length;
															//~ var s = "<section> you have" +  (140-length) + "letters left.</section>";
															//~ $("div").append("<p>bbbbb</p>");
															//~ });

	
    
	</script>
	


<%= form_for(@micropost, remote: true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Compose new micropost..." , oninput:'count("lettersLeft", "micropost_content")' %>
	</div>
	<%= f.submit "Post", class: "btn btn-primary btn-large" %>
<% end %>
