<%= link_to gravatar_for(current_user, size: 80), current_user %>
<h1><%= current_user.name %></h1>
<span class="">
	<%= link_to "view my profile", current_user %>
</span>
<span class="">
<%= pluralize(current_user.microposts.count, "micropost") %>
</span>
