
<% if @micropost.save %>
	$(".alert").remove();
	$("#error_explanation").remove();
	$("#feed").prepend($("<%= escape_javascript(render(partial: 'shared/feed_item',
				object: @micropost)) %>").hide().fadeIn("slow")).
					prepend("<%= escape_javascript(content_tag(:div,"micropost created!",
																						class: "alert alert-success")) %>");
	$("#micropost_content").val("");
	
<% else %>

	$(".alert").remove();
	$("#error_explanation").remove();
	$("#feed").prepend("<%= escape_javascript(render(partial: 'shared/error_messages', object: @micropost, as: 'object')) %>");
	
<% end %>
