@import "bootstrap"; 


/* universal*/

@mixin box_sizing{
	-moz-bo-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
 
.debug_dump{
		clear:both;
		float:left;
		width:100%;
		margin-top:45px;
		@include box_sizing;
}

 
html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}
section{
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center{
	text-align: center;
}

.center h1{
	margin-bottom: 10px;
}


/*  typography  */

h1, h2, h3, h4 ,h5 ,h6{
	line-height: 1;
}

h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align:center;
}

h2{
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align:center;
	font-weight: normal;
	color: #999;
}

P{
	font-size: 1.1em;
	line-height: 1.7em;
}

#logo{
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: green;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height:1;
	
	&:hover{
		color:#fff;
		text-decoration: none;
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
}

footer a {
	color: #555;
}

footer a:hover{
	color: #222;
}

footer small{
	float: left;
}

footer ul{
	float: right;
	list-style: none;
}

footer ul li{
	float: left;
	margin-left: 10px;
}

/* sidebar */

aside{
	section{
		padding:10px 0;
		border-top: 1px solid graylighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span{
			display: block;
			margin-bottom: 3px;
			line-height:1;
		}
		h1{
			font-size:1.4em;
			text-align:left;
			letter-spacing:-1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}	
}

.gravator{
	float:left;
	margin-right:10px;
}

.stats{
	overflow: auto;
	a{
		float: left;
		padding: 0 10px;
		border-left: 1px solid graylighter;
		color: gray;
		&:first-child{
			padding-left: 0;
			border: 0;
		}
		
		&:hover{
			text-decoration: none;
			color: blue;
		}
	}
	strong{
		display: block;
	}
}	
	
.user_avatar{
	overflow: auto;
	margin-top: 10px;
	.gravatar{
		margin: 1px 1px;
	}
}

/* forms */

input, textarea , select, .uneditable-input {
	border: 1px solid #bb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input{
	height: auto !important;
}

#error_explanation{
	color: #f00;
	ul {
	list-style: none;
	margin: 0 0 18px 0;
	}
}
.field_with_errors{
	@extend .control-group;
	@extend .error;
}

/*  Users Index */

.users{
	list-style: none;
	margin: 0;
	li{
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid gray;
		&:last-child{
			border-bottom: 1px solid gray;
		}
	}
}


/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}









